# Simple Linear regression
## objetives

After completing this lap, you will able to:

* Use scikit-learn to implement simple linear regression
* Create, train , and test a linear regression model on real data

In [3]:
### import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Load the data
The dataset you will use resides at the following url. You can use the url directly with the pandas library to load the datast.

In [4]:
url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%202/data/FuelConsumptionCo2.csv"
df=pd.read_csv(url)
df.sample(5)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
430,2014,FORD,TRANSIT CONNECT TAXI,SPECIAL PURPOSE VEHICLE,1.6,4,AS6,X,11.5,8.3,10.1,28,232
310,2014,DODGE,CHARGER FFV,FULL-SIZE,3.6,6,A5,E,18.3,12.6,15.7,18,251
565,2014,JAGUAR,XKR CONVERTIBLE,MINICOMPACT,5.0,8,AS6,Z,15.9,10.9,13.7,21,315
948,2014,SUBARU,IMPREZA AWD,COMPACT,2.0,4,M5,X,9.6,7.1,8.5,33,196
622,2014,KIA,SORENTO,SUV - SMALL,3.3,6,A6,X,12.9,9.5,11.4,25,262

In [ ]:
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000